<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
  <appSettings>
    <add key="DaysLimit" value="31"/>
    <add key="AllowedMinFileSizesinKB" value="5000;10000;15000;20000"/>
    <!--<add key="LSTLogFile" value="E:\apps\Tools\Monitoring\NewLogSearchTool\LSTLog.txt"/>-->
    <add key="LSTLogFile" value="D:\Prashanth\Learning\WorkOuts\LogSearchTool\LSTLog.txt"/>
    <add key="RemoteServer" value="\\snlod01\logs\"/>
    <add key="LogLocation" value="\e\apps\nuxrflatfiles\"/>
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.0" />
    <httpRuntime requestValidationMode="2.0" />
    <sessionState timeout="200" mode="InProc" />
  </system.web>
</configuration>

